@font-face {
font-family: "Oroban-Elegans";
src: url("css/fonts/Oroban-Elegans.woff");
font-style: normal;
}

@font-face {
font-family: "Oroban-ElegansItalic";
src: url("css/fonts/Oroban-ElegansItalic.otf");
src:
url("css/fonts/Oroban-ElegansItalic.woff") format("woff"),
url("css/fonts/Oroban-ElegansItalic.otf") format("opentype"),
}

@font-face {
font-family: "Inferi-Light";
src: url("css/fonts/Inferi-Light.otf");
src:
url("css/fonts/Inferi-Light.woff") format("woff"),
url("css/fonts/Inferi-Light.otf") format("opentype"),
}

@font-face {
font-family: "Inferi-LightItalic";
src: url("css/fonts/Inferi-LightItalic.otf");
src:
url("css/fonts/Inferi-LightItalic.woff") format("woff"),
url("css/fonts/Inferi-LightItalic.otf") format("opentype"),
}


body {
  background-color: black;

}


h1{
  font-family: oroban;
}
div {
  position: relative;
}

#content-container {

  display: block;
  position: inherit;
  margin: inherit;
  max-width: inherit;
  color: white;
}

#image {

  display: flex;
  max-width: justify;
  position: fixed;
  top: 0px;
  left: 300px;
  width: 120px;

}

#descriptive-text {

  display: block;
  position: inherit;
  margin: auto;
  max-width: 500px;
  height: 200px;
  line-height: 12px;
  text-align: justify;
  color: white;

}

#descriptive-head {

  display: block;
  position: inherit;
  margin: auto;
  width: 500px;
  height: inherit;
  text-align: justify;
  color: white;

}


#submissions {

  display: block;
  position: inherit;
  margin: auto;
  width: auto;
  line-height: 15px;
  color: white;
}

#email {

  display: block;
  position: inherit;
  margin: auto;
  width: auto;
  height: 100px;
  line-height: 15px;
  color: white;
}

#mailbox {

  display: block;
  position: inherit;
  margin: auto;
  width: auto;
  line-height: 15px;
  color: white;
}

#footer{

  display: block;
  position: inherit;
  margin: auto;
  height: inherit;
  text-align: center;
  color: white;
}






.hapworthfont{
    font-family: Oroban-Elegans;
    font-size: 55px;
    text-align: center;


}

.font2{
    font-family: helvetica;
    font-size: 15px;
    font-weight: 600;

}

.font3{
    font-family: Oroban-Elegans;
    font-size: 15px;
}

.font4{
    font-family: Oroban-ElegansItalic;
    font-size: 15px;

}

.font5{
    font-family: Oroban-Elegans;
    font-size: 30px;

}

.wingdings{
    font-family: wingdings;
    font-size: 30px;

}

.foot{
    font-family: Oroban-Elegans;
    font-size: 15px;

}
p{
  font-family: Inferi-Light;
  font-size: 30px;
}
