
@font-face {
font-family: "Oroban-Elegans";
src: url("https://github.com/ya1sec/hapworth/tree/master/fonts/Oroban-Elegans.ttf");
src:
url("https://github.com/ya1sec/hapworth/tree/master/fonts/Oroban-Elegans.woff") format("woff"),
url("https://github.com/ya1sec/hapworth/tree/master/fonts/Oroban-Elegans.woff2") format("woff2"),
url("https://github.com/ya1sec/hapworth/tree/master/fonts/Oroban-Elegans.otf") format("opentype"),

}

@font-face {
font-family: "Oroban-ElegansItalic";
src: url("https://hapworth.studio/fonts/Oroban-ElegansItalic.otf");
src:
url("https://hapworth.studio/fonts/Oroban-ElegansItalic.woff") format("woff"),
url("https://hapworth.studio/fonts/Oroban-ElegansItalic.woff2") format("woff"),
url("https://hapworth.studio/fonts/Oroban-ElegansItalic.otf") format("opentype"),
url("https://hapworth.studio/fonts/Oroban-ElegansItalic.ttf") format("truetype"),

}

@font-face {
font-family: "Inferi-Light";
src: url("https://hapworth.studio/fonts/Inferi-Light.otf");
src:
url("https://hapworth.studio/fonts/Inferi-Light.woff") format("woff"),
url("https://hapworth.studio/fonts/Inferi-Light.otf") format("opentype"),
url("https://hapworth.studio/fonts/Inferi-Light.ttf") format("truetype"),

}

@font-face {
font-family: "Inferi-LightItalic";
src: url("https://hapworth.studio/fonts/Inferi-LightItalic.otf");
src:
url("https://hapworth.studio/fonts/Inferi-LightItalic.woff") format("woff"),
url("https://hapworth.studio/fonts/Inferi-LightItalic.woff2") format("woff2"),
url("https://hapworth.studio/fonts/Inferi-Light.ttf") format("truetype")
url("https://hapworth.studio/fonts/Inferi-LightItalic.otf") format("opentype"),
}


body {
  background-color: black;

}


h1{
  font-family: oroban;
}
div {
  position: relative;
}

#content-container {

  display: block;
  position: inherit;
  margin: inherit;
  max-width: 400px;
  color: white;
}

#logo {

  display: block;
  max-width: justify;
  position: inherit;
  left: 200px;
  width: auto;

}


#image {

  display: flex;
  position: fixed;
  top: 10px;
  width: 200px;

}

#descriptive-text {

  display: block;
  position: inherit;
  margin: auto;
  max-width: inherit;
  height: auto;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: white;

}

#descriptive-head {

  display: block;
  position: inherit;
  margin: auto;
  width: 500px;
  height: inherit;
  text-align: justify;
  color: white;

}


#submissions {

  display: block;
  position: inherit;
  margin: auto;
  width: auto;
  line-height: 15px;
  color: white;
}

#email {

  display: block;
  position: inherit;
  margin: auto;
  width: auto;
  height: 100px;
  line-height: 15px;
  color: white;
}

#mailbox {

  display: block;
  position: inherit;
  margin: auto;
  width: auto;
  line-height: 15px;
  color: white;
}

#footer{

  display: block;
  position: inherit;
  margin: auto;
  height: inherit;
  text-align: center;
  color: white;
}


.hapworthfont{
    font-family: Oroban-Elegans;
    font-size: 30px;
    text-align: center;


}

.font2{
    font-family: helvetica;
    font-size: 15px;
    font-weight: 600;

}

.font3{
    font-family: Inferi-Light;
    font-size: 15px;
}

.font4{
    font-family: helvetica;
    font-size: 10px;
    font-weight: 600;

}

.font5{
    font-family: Oroban-Elegans;
    font-size: 30px;

}

.font6{
    font-family: Inferi-Light;
    font-size: 18px;

}



.foot{
    font-family: Oroban-Elegans;
    font-size: 15px;

}
p{
  font-family: Inferi-Light;
  font-size: 18px;
}
